{
  "root": true,
  "env": {
    "vue/setup-compiler-macros": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "parser": "@typescript-eslint/parser"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "vue/multi-word-component-names": "off",
    "space-infix-ops": "off"
  }
}
